<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <link rel="icon" type="image/png" href="static/firdaus.jpeg">
  <title>RS Firdaus</title>
  <!-- Custom fonts for this template-->
  <link href="static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <!-- Page level plugin CSS-->
	<link href="static/css/bootstrap.css" rel="stylesheet" type="text/css">
	<link href="static/css/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css">
	<link href="static/css/buttons.bootstrap4.min.css" rel="stylesheet" type="text/css">
    <!-- Include SmartCart CSS -->
    <link href="static/jSmart/css/smart_cart.min.css" rel="stylesheet" type="text/css" />
  <!-- Custom styles for this template-->
  <link href="static/css/sb-admin.css" rel="stylesheet">
  <style>
    title: {
        text-align: center;
    }
  </style>
</head>

<body id="page-top">
        {% include 'sidebar.html' %}
        {% block body %} {% endblock %}   

	
 <!-- Bootstrap core JavaScript-->
  <script src="static/vendor/jquery/jquery.min.js"></script>
  <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="static/vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Page level plugin JavaScript-->
  <script src="static/js/jquery-3.3.1.js"></script>
  <script src="static/js/jquery.dataTables.min.js"></script>
  <script src="static/js/dataTables.bootstrap4.min.js"></script>
  <script src="static/js/dataTables.buttons.min.js"></script>
  <script src="static/js/buttons.bootstrap4.min.js"></script>
  <script src="static/js/jszip.min.js"></script>
  <script src="static/js/pdfmake.min.js"></script>
  <script src="static/js/vfs_fonts.js"></script>
  <script src="static/js/buttons.html5.min.js"></script>
  <script src="static/js/buttons.print.min.js"></script>
  <script src="static/js/buttons.colVis.min.js"></script>
  <script>
	$(document).ready(function() {
    var table = $('#example').DataTable( {
        lengthChange: false,
        buttons: [ 'excel' ]
    } );
 
    table.buttons().container()
        .appendTo( '#example_wrapper .col-md-6:eq(0)' );
} );
   </script>
   <script src="static/jSmart/js/shopkart.js"></script>
   <script>
    $(function () {
        $.shopkart();
    });
    </script>
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-36251023-1']);
      _gaq.push(['_setDomainName', 'jqueryscript.net']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
  <!-- Custom scripts for all pages-->
  <script src="static/js/sb-admin.min.js"></script>

  <!-- Demo scripts for this page-->


</body>

</html>
