{% extends 'index.html' %}
    
    {% block body %}

    <div id="content-wrapper">

      <div class="container-fluid">
          <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#exampleModal" data-whatever="@getbootstrap"><b> + Tambah Karyawan</b></button>

    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Tambah Karyawan</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form action="{{ url_for('tambahkaryawan') }}" method="POST">
              <div class="form-row">
              <div class="form-group col-md-6">
                <label for="recipient-name" class="col-form-label">Nama:</label>
                <input type="text" class="form-control" id="recipient-name" name="nama" required>
              </div>
              <div class="form-group col-md-6">
                <label for="recipient-name" class="col-form-label">No.Pegawai:</label>
                <input type="text" class="form-control" id="recipient-name" name="np" required>
              </div>
              <div class="form-group col-md-6">
                <label for="recipient-name" class="col-form-label">Jabatan:</label>
                <input type="text" class="form-control" id="recipient-name" name="jabatan" required>
              </div>
              <div class="form-group col-md-6">
                <label for="recipient-name" class="col-form-label">Gaji Pokok:</label>
                <input type="text" class="form-control" id="recipient-name" name="gaji" required>
              </div>
              <div class="form-group col-md-6">
                <label for="recipient-name" class="col-form-label">Lembur:</label>
                <input type="text" class="form-control" id="recipient-name" name="lembur" required>
              </div>
              <div class="form-group col-md-6">
                <label for="recipient-name" class="col-form-label">Kasbon:</label>
                <input type="text" class="form-control" id="recipient-name" name="kasbon" required>
              </div>
              <div class="form-group col-md-6">
                <label for="recipient-name" class="col-form-label">Iuran:</label>
                <input type="text" class="form-control" id="recipient-name" name="iuran" required>
              </div>
              <div class="form-group col-md-6">
                <label for="recipient-name" class="col-form-label">Keterangan:</label>
                <input type="text" class="form-control" id="recipient-name" name="keterangan" required>
              </div>
              </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Keluar</button>
            <button type="submit" class="btn btn-primary">Tambah</button>
          </div>
         </form>
        </div>
      </div>
    </div>
    <br><br />
        <!-- DataTables Example -->
        <div class="card mb-3">
          <div class="card-header">
            <i class="fas fa-table"></i>
            Data Table Example</div>
          <div class="card-body">
            <div class="table-responsive">
              <table id="example" class="table table-bordered table-sm" width="100%">
                <thead>
                  <tr>
                    <th>No.</th>
                    <th>Tanggal</th>
                    <th>Nama</th>
                    <th>No. Pegawai</th>
                    <th>Jabatan</th>
                    <th>Gaji Pokok</th>
                    <th>Lembur</th>
                    <th>Kasbon</th>
                    <th>Iuran</th>
                    <th>Total</th>
                    <th>Keterangan</th>
                    <th>Aksi</th>
                  </tr>
                </thead>
                <tbody>
                {% for data in container %}
                  <tr>
                    <td>{{ data.id }}</td>
                    <td>{{ data.tanggal }}</td>
                    <td>{{ data.nama }}</td>
                    <td>{{ data.np }}</td>
                    <td>{{ data.jabatan }}</td>
                    <td>{{ "Rp.{:,}".format(data.gaji) }}</td>
                    <td>{{ data.lembur }}</td>
                    <td>{{ "Rp.{:,}".format(data.kasbon) }}</td>
                    <td>{{ "Rp.{:,}".format(data.iuran) }}</td>
                    <td>{{ "Rp.{:,}".format(data.total) }}</td>
                    <td>{{ data.keterangan }}</td>
                    <td>
					<a class="btn btn-primary btn-sm" href="#" data-toggle="modal" data-target="#edit{{data.id}}" data-whatever="@getbootstrap">Edit</a>
    <div class="modal fade" id="edit{{data.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Tambah Karyawan</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form action="/editkaryawan/{{data.id}}" method="POST">
              <div class="form-row">
              <div class="form-group col-md-6">
                <label for="recipient-name" class="col-form-label">Nama:</label>
                <input type="text" class="form-control" value="{{ data.nama }}" id="recipient-name" name="nama" required>
              </div>
              <div class="form-group col-md-6">
                <label for="recipient-name" class="col-form-label">No.Pegawai:</label>
                <input type="text" class="form-control" value="{{ data.np }}" id="recipient-name" name="np" required>
              </div>
              <div class="form-group col-md-6">
                <label for="recipient-name" class="col-form-label">Jabatan:</label>
                <input type="text" class="form-control" value="{{ data.jabatan }}" id="recipient-name" name="jabatan" required>
              </div>
              <div class="form-group col-md-6">
                <label for="recipient-name" class="col-form-label">Gaji Pokok:</label>
                <input type="text" class="form-control" value="{{ data.gaji }}" id="recipient-name" name="gaji" required>
              </div>
              <div class="form-group col-md-6">
                <label for="recipient-name" class="col-form-label">Lembur:</label>
                <input type="text" class="form-control" value="{{ data.lembur }}" id="recipient-name" name="lembur" required>
              </div>
              <div class="form-group col-md-6">
                <label for="recipient-name" class="col-form-label">Kasbon:</label>
                <input type="text" class="form-control" value="{{ data.kasbon }}"  id="recipient-name" name="kasbon" required>
              </div>
              <div class="form-group col-md-6">
                <label for="recipient-name" class="col-form-label">Iuran:</label>
                <input type="text" class="form-control" value="{{ data.iuran}}" id="recipient-name" name="iuran" required>
              </div>
              <div class="form-group col-md-6">
                <label for="recipient-name" class="col-form-label">Keterangan:</label>
                <input type="text" class="form-control" value="{{ data.keterangan }}" id="recipient-name" name="keterangan" required>
              </div>
              </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Keluar</button>
            <button type="submit" class="btn btn-primary">Ubah</button>
          </div>
         </form>
        </div>
      </div>
    </div>
					<a class="btn btn-danger btn-sm" href="/hapuskaryawan/{{data.id}}">Hapus</a>
					</td>
                  </tr>
				{% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
        {% include "footer.html" %}
       {% endblock %}
